@import 'bootstrap';

:root {

    --mid-bg: rgb(239, 239, 239);
    --light: #CBC3E3;
    --bold: #800080;

}

body {

    background-color: var(--mid-bg);
    height: 100vh;
}

.container {

    width: 50% !important;
}

header {

    background-color: var(--light);
    height: 3.2rem;
}

footer {

    background-color: var(--light);

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {

        color: var(--bold);
    }
}

.active {

    font-weight: bold;
    border-bottom: solid 0.2rem var(--bold);
    color: var(--bold) !important;
}

.jumbotron {

    background-image: url('https://picsum.photos/id/249/2000');
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 100%;
}

.title {

    color: var(--bold);
}